<dx-data-grid
  id="gridContainer"
  keyExpr="Id"
  [dataSource]="dataSource"
  [allowColumnReordering]="true"
  [showBorders]="true"
>
  <dxo-paging [enabled]="true"></dxo-paging>
  <dxo-editing
    mode="row"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [allowAdding]="true"
  >
  </dxo-editing>

  <dxi-column dataField="code" caption="Title"></dxi-column>
  <dxi-column dataField="address"></dxi-column>
  <dxi-column dataField="size"></dxi-column>
  <dxi-column dataField="bathrooms" [width]="130"></dxi-column>
  <dxi-column dataField="price" [width]="130"></dxi-column>
  <dxi-column dataField="owner" [width]="130"></dxi-column>
  <dxi-column dataField="builtYear" [width]="130"></dxi-column>
  <dxi-column dataField="description" [width]="130"></dxi-column>
  <dxi-column dataField="bedrooms" caption="State" [width]="125">
    <dxo-lookup [dataSource]="allBedrooms" displayExpr="title" valueExpr="id">
    </dxo-lookup>
  </dxi-column>
  <dxi-column dataField="BirthDate" [width]="125" dataType="date"> </dxi-column>
</dx-data-grid>
