<dx-data-grid
  id="gridContainer"
  keyExpr="id"
  [dataSource]="dataSource"
  [allowColumnReordering]="true"
  [showBorders]="true"
>
  <dxo-paging [enabled]="true"></dxo-paging>
  <dxo-editing
    mode="row"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [allowAdding]="true"
  >
  </dxo-editing>

  <dxi-column dataField="code" caption="Code" alignment="left" [width]="120"></dxi-column>
  <dxi-column dataField="bedrooms" caption="Bedrooms" [width]="110">
    <dxo-lookup [dataSource]="allBedrooms" displayExpr="title" valueExpr="id">
    </dxo-lookup>
  </dxi-column>
  <dxi-column dataField="address" caption="Address" [width]="300"></dxi-column>
  <dxi-column dataField="size" caption="Size" [width]="125"></dxi-column>
  <dxi-column dataField="bathrooms" caption="Bathrooms" alignment="left" [width]="130"></dxi-column>
  <dxi-column dataField="price" caption="Price" [width]="130">
    <dxo-lookup [dataSource]="allPrices" displayExpr="title" valueExpr="id">
    </dxo-lookup>
  </dxi-column>
  <dxi-column dataField="owner" caption="Owner" [width]="130"></dxi-column>
  <dxi-column dataField="builtYear" caption="BuiltYear" [width]="130"></dxi-column>
  <dxi-column dataField="description" caption="Description" [width]="130"></dxi-column>
</dx-data-grid>
