

<div class="wrapper fadeInDown zero-raduis">
	<div id="formContent">
		<!-- Icon -->
		<div class="fadeIn first">
			<h2 class="my-5">Login</h2>
		</div>

		<!-- Login Form -->
		<form [formGroup]="loginForm">
			<input formControlName="email" type="email" id="email" class="fadeIn second zero-raduis" name="email" placeholder="name@example.com">
			<input formControlName="password" type="password" id="password" class="fadeIn third zero-raduis" name="login" placeholder="password">
			<div id="formFooter">
				<a class="underlineHover">Forgot password?</a>
			</div>
			<input type="submit"  routerLinkActive="router-link-active"  (click)="login()" class="fadeIn fourth zero-raduis" value="Login">
			<h2>Don't have an account?</h2>
			<input routerLink="/register" type="button" class="fadeIn fourth zero-raduis pc" value="Register">
		</form>

	</div>
</div>


