<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-bedroom (onClick)="onBedroomClick($event)"></app-bedroom>
      <app-price (onClick)="onPriceClick($event)"></app-price>
    </div>
    <div class="col-md-9">
      <div class="mb-3">
        <label for="filter" class="form-label"></label>
        <input type="text" [(ngModel)]="searchPanelFilter" class="form-control" id="filter"
               placeholder="What are you looking for?" (input)="searchPanelFilterChange(searchPanelFilter)">
      </div>
      <div class="row">
        <div *ngFor="let house of filteredHouses;" class="card m-2" style="width: 267px; ">
          <img src="{{house.imagePath}}" class="card-img-top" width="320" height="200">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">{{house.code}}</h5>
            <p class="card-text d-flex justify-content-center">{{house.description}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Size: {{house.size}}</li>
            <li class="list-group-item">Bedrooms: {{house.bedrooms}}</li>
            <li class="list-group-item">Bathrooms: {{house.bathrooms}}</li>
            <li class="list-group-item">Price: ${{house.price }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

<dx-load-indicator
  [(visible)]="isLoading"
  [height]="140"
  [width]="140"
  [elementAttr]="{ style: 'position: absolute; top: calc(50vh - 70px); left: calc(50vw - 70px);' }">
</dx-load-indicator>
